html,
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.faixa-topo {
  color: aliceblue;
  background-color: black;
}
.faixa-topo h4 {
  margin: auto;
  padding: 10px;
}
.topo {
  color: aliceblue;
  background-color: #004aad;
  text-align: left;
  margin-bottom: 20px;
}
.topo a {
  text-decoration: none;
  color: #eeeee7;
}
.sec-topo {
  display: inline-block;
  max-width: 48%;
  box-sizing: border-box;
}
.box1 {
  margin-left: 250px;
  text-align: right;
  vertical-align: top;
}
.figure-logo {
  width: 130%;
}
.slides {
  padding: 0;
  width: 1200px;
  height: 500px;
  display: block;
  margin: 0 auto;
  position: relative;
}
.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
.slides input {
  display: none;
}
.slide-container {
  display: block;
}
.slide {
  top: 0;
  opacity: 0;
  width: 1200px;
  height: 500px;
  position: absolute;
  display: block;
  transform: scale(1);
  transition: all 0.7s ease-in-out;
}
.slide img {
  width: 100%;
  height: 100%;
}
.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity 0.2s;
  background-color: rgba(7, 7, 7, 0.24);
}
.slide:hover + .nav label {
  opacity: 0.5s;
}
.nav label:hover {
  opacity: 1;
}
.nav .next {
  right: 0;
}
input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
input:checked + .slide-container .nav label {
  display: block;
}
.seta {
  margin-top: 30px;
}

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list {
  --selected-item: 0;
}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list {
  --selected-item: 1;
}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list {
  --selected-item: 2;
}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list {
  --selected-item: 3;
}

.slide-show {
  overflow: hidden;
}

.slides-list {
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.slidess h3 {
  text-align: end;
  margin-right: 50px;
}
.icon-peças {
  text-align: center;
  font-size: 0.9em;
  background-color: #eeeee7;
  padding: 10px;
  margin-top: 20px;
}
.section {
  text-align: center;
  display: inline-block;
}
.section a,
li a {
  text-decoration: none;
  color: #000000;
}
.section-moveis {
  width: 90px;
  padding: 10px 40px 0px;
}
.section:hover {
  background-color: #004aad;
  border-radius: 10px;
  color: #eeeee7;
}
.moveis {
  margin: auto;
}
.box-ven {
  display: inline-block;
  box-sizing: border-box;
  box-shadow: #004aad 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  margin: 5px;
  max-width: 18%;
  padding: 3px;
}
.history {
  background-color: #eeeee7;
  padding: 10px 50px;
  margin: 50px 0px;
}
.launch {
  padding-top: 10px;
  background-image: url("../img/cool-backgroundnh.png");
  background-position: center;
  background-size: cover;
}
.launch h3 {
  color: aliceblue;
}
.end {
  background-color: #eeeee7;
  font-size: 0.8em;
  margin-top: 20px;
  padding-bottom: 5px;
}
.end-box {
  display: inline-block;
  box-sizing: border-box;
  max-width: 25%;
  padding: 15px;
}
.logo-marca {
  width: 45px;
}
.end ul {
  padding-inline-start: 0px;
  margin-bottom: 0px;
  padding: 15px;
}
hr {
  margin: auto;
}
.icons-list {
  display: inline-block;
  padding: 3px;
}
.icon-midia {
  max-width: 35px;
}
.text-ent {
  padding-left: 0px;
  padding-bottom: 0px;
}
.criado {
  text-align: center;
  background-color: #000000;
  color: #eeeee7;
  font-size: 0.6em;
}
.mov-eletro {
  margin: 30px 50px;
}
.apresenta {
  text-align: left;
  font-size: 0.9em;
}
.news {
  text-align: right;
  margin-right: 100px;
  margin-bottom: 50px;
}
.box {
  display: inline-block;
  box-sizing: border-box;
  box-shadow: #004aad 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  margin: 5px;
  max-width: 30%;
  padding: 3px;
}
.box-peças {
  width: 85%;
}
.flipper {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}
.flip-container:hover .flipper {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
.container-1 {
  margin-bottom: 30px;
}
.container-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 720px) {
  h2 {
    font-size: 1em;
  }
  .figure-logo {
    width: 130%;
  }
  .box-ven {
    max-width: 40%;
    font-size: 0.8em;
  }
  .box1 {
    margin-left: 0px;
    font-size: 0.7em;
  }
  .slide {
    max-width: 100%;
    height: auto;
  }
  .slides {
    width: auto;
    height: 200px;
  }

  .icon-peças ul {
    padding-inline-start: 0px;
  }
  .section-moveis {
    width: 0px;
  }
  .box {
    max-width: 50%;
  }
  .history {
    font-size: 0.8em;
    margin: 30px 0px;
  }
  .launch h3 {
    font-size: 0.9em;
  }
  .end {
    font-size: 0.6em;
  }
  .end-box {
    padding: 0px 10px;
    max-width: none;
  }
  .end ul {
    padding: 0px;
  }
  .icon-midia {
    max-width: 30px;
  }
}
